body{
    background-color:rgb(246, 239, 239);
}
.container{
   width:50%;
   height:60%;
   background-color: #f3f3f3;
   border:1px dotted rgb(246, 239, 239);
   text-align:center;
   margin-left:25%;
   margin-top:10%;
  
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid blue;
  border-right: 8px solid green;
  border-bottom: 8px solid red;
  border-left: 8px solid pink;
  width: 120px;
  height: 120px;
  margin-left:35%;
  margin-top:10%;
  margin-bottom:5%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
 /*-----------------Viewport less than or equal to 520px----------------*/

 @media (max-width: 520px) {
.container {
    width:70%;
    height:70%;
    text-align:center;
    margin-left:15%;
    margin-top:10%;
    
      }
.loader {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left:30%;
    margin-top:30%;
  }
 }