
@import url(../css/fonts.css);
:root{
    --color-primary:#fff;
    --color-primary-light:hsl(242,91%,69%,18%);
    --color-primary-variant:#c5c3f8;
    --color-red:#da0f3f;
    --color-red-light:hsl(346,87%,46%,15%);
    --color-green:#4c7062;
    --color-green-light:rgba(58, 167, 125, 0.15);
    --color-gray-900:#7070c5;
    --color-gray-700:#8f8fb8;
    --color-gray-300:rgba(146, 146, 177, 0.3);
    --color-gray-200:rgba(242,242,254,0.7);
    --color-white:#000;
    --color-bg:#fff;

    --transition:all 300ms ease;
    --container-width-lg: 74%;
    --container-width-md: 88%;
    --form-width: 40%;
    --card-border-radius-1: 0.3rem;
    --card-border-radius-2: .5rem;
    --card-border-radius-3: 0.8rem;
    --card-border-radius-4:2rem;
    --card-border-radius-5: 5rem;

/*---------------theme font-family------------------*/
	--Abel:'Abel',cursive;
	--Anton:'Anton',cursive;
	--Josefin:'Josefin',cursive;
	--Lexend:'Lexend',cursive;
	--Livvic:'Livvic',cursive;
}
/* ==================General============*/
*{
    margin:0;
    padding:0;
    outline:0;
    border:0;
    appearance:0;
    list-style:none;
    text-decoration:none;
    box-sizing:border-box;
}
body{
    font-family:var(--Anton);
    line-height:1.6;
    color:var(--color-gray-900);
    overflow-x:hidden;
    background:var(--color-bg);
    font-size:0.9rem;
}
.container{
    width:var(--container-width-lg);
    max-width:1200px;
   
}
section{
    margin-top:3rem;
    width:100vw;
}
h1,h2,h3,h4,h5{
    color:#3a34f0;
    line-height:1.3;
}
h1{
    font-size:3rem;
    margin:1rem 0;
}
h2{
    font-size:1.7rem;
    margin:1rem 0;
}
h3{
    font-size:0.8rem;
    margin:0.8rem 0 0.5rem;
    color:peru !important;
}
h4{
    font-size:1rem;
}
a{
    color:#159f6a;
    transition:var(--transition);
}  
p{
font-size:1rem;	
 color:peru !important;
}

/*=================BUTTON=====GO====*/
.btn{
    display:inline-block;
    width:fit-content;
    padding:0.6rem 1.2rem;
    background-color:rgb(9, 149, 184);
    border-radius:var(--card-border-radius-2);
    cursor:pointer;
    transition:var(--transition);
    color:white;
}
.btn.sm{
    padding:0.3rem 0.7rem;
    font-size:0.8rem;
}
.btn.danger{
    background:red;
}
.btn:hover{
    background:rgb(225, 212, 212);
    color:var(--color-white)
}



/*===============SIGN UP PAGE==========*/
.form_section{
    display:grid;
    place-items:center;
    height:100vh;
	margin-top:-150px;
}
.form_section-container{
    width:var(--form-width)
}
.alert_message{
    padding:0.8rem 1.4rem;
    margin-bottom:1rem;
    border-radius:var(--card-border-radius-2);
}
.alert_message.error{
    background: var(--color-red-light);
    color:red;
}
.alert_message.success{
    background: var(--color-green-light);
    color:green;
}
form{
    display:flex;
    flex-direction:column;
    gap:1rem;
}
.form_control{
    display:flex;
    flex-direction:column;
    gap:0.6rem;
}
.form_control.inline{
    flex-direction:row;
    align-items:center;
}
label{
    color:white;
}
input,textarea,select{
    padding:0.8rem 1.4rem;
    background-color:black;
    border-radius:var(--card-border-radius-2);
    resize:none;
    color:white;
}
.form_section small{
    margin-top:1rem;
    display:block;
    color:white;
}
.form_section small a{
    color:var(--color-primary);
    
}
